@import "root";

form span {
  @extend .d-flex;
  @extend .align-items-center;
}

main > div > div {
  @extend .container;
  @extend .m-0;
  @extend .p-0;
  @extend .mb-3;
}

main > div > div > * {
  @extend .row;
}

main > div > div > * > * {
  @extend .col;
}

#curve-info span input {
  width: 3.5rem;
  @extend .mx-1;
}

.canvas > * {
  @extend .w-100;
}

.canvas > * > * {
  @extend .border;
  @extend .rounded;
}

label.toggle-on,
label.toggle-off {
  @extend .mt-0;
}

#alphabet-options {
  @extend .border;
  @extend .border-dark;
  @extend .rounded;
  @extend .p-2;
  row-gap: 0.5rem;
}

#alphabet-options > button {
  @extend .btn;
  @extend .m-0;
  font-size: 0.9rem !important;
}
